.THIS {
}
.THIS .defaultCircle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: center;
}
.THIS .redCircle {
	background-color: #ef6e64;
}
.THIS .greenCircle {
	background-color: #4bca81;
}
.THIS .interior {
	font-size: 20px;
	margin-top: 16px;
	padding-top: 16px;
	position: center;
}