/*Created: Marc Dysart - February 2017 for first release
 Purpose: PD-115 -Kanban Lien - Claimant 

 History:
       Updated: Marc Dysart - March 2017 for first release
      Purpose: PRODSUPT-10 - Add substage in Kanban View*/ 
 .THIS {
}

.THIS .slds-tabs--path__item+.slds-is-current:before {
	background: rgb(0, 112, 210);
}

.THIS .slds-tabs--path__item {
	text-align: left;
}

.THIS .slds-has-dividers--around-space>.slds-item {
	margin: 0.25rem 0;
}

.THIS .listcontent {

	flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 5px;
    margin: 0;
    border-left: rgb(216, 221, 230) 1px solid;
    min-height: 300px;
    }

.THIS .kanban-edit-lien {
	text-align: right;
}

.THIS .hideCard {
    display: none;
}

.THIS ul.kanban-filters {
    padding: 0 0 10px 10px;
}

.THIS .new-lien-button {
    position: absolute;
    right: 10px;
}

.THIS .actionMenu {
    width:8.5rem;
}
.THIS .actionMenu li.uiMenuItem {
    height: 2.0rem;
    text-align: left;
    padding-left: 0.5rem;
}

.THIS .actionMenu li.uiMenuItem a {
    height: 2.0rem;
    padding: 0; 
}

.THIS .filter-dropdown {
    width: 10.5rem;
}

/* start PRODSUPT - 10 */
.THIS .lien-substage {
    font-style: italic;
    font-weight: 600; 
}
.THIS .hide-substage {
    display: none;
}
/* end PRODSUPT - 10 */