.THIS {
}
.THIS .override-body.slds-card__body {
	padding: 0 2rem;
}

.THIS .override-btn {
	text-align: right;
	position: relative;
	left: 1rem;
    top: 0rem;
}

.THIS .override-disabled-btn {
	text-align: right;
	position: relative;
	left: 1rem;
    top: 0rem;
}

.THIS .lien-override-info {
	text-align: left;
}

.THIS .hide {
	display: none;
}